<div class="index">
    <div class="image">
        <img src="/images/beer.png">
    </div>
    <a href="/beers">Check the Beers!</a>
    </br>
    <a href="/random-beers">Check a Random Beers!</a>
</div>